{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <div class="editprofile-page">
 <div class="editprofile-block">
    <h1>Edit profile</h1>
    {# {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} #}

   

    {# <button type="submit" class="btn btn-primary">Update</button> #}
    
    {{ form_start(editForm) }}
     
    {{ form_row(editForm.firstName) }}
    {{ form_row(editForm.lastName) }}
    {{ form_row(editForm.address) }}
    {{ form_row(editForm.address2) }}
    {{ form_row(editForm.phone) }}
    {{ form_row(editForm.city) }}
    {{ form_row(editForm.state) }}
    {{ form_row(editForm.zipcode) }}
    {{ form_row(editForm.additionalInfo) }}
    <a class="btn btn-danger" href="{{ url('customer') }}" >
    Go back
    </a>
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
    </div>

    {{ form_end(editForm) }}
    
{% endblock %}