{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>
    {# {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} #}
    {# <button type="submit" class="btn btn-primary">Update</button> #}
    
    {{ form_start(forgotPasswordForm) }}
     
    {{ form_row(forgotPasswordForm.resetemail) }}
    {{ form_errors(forgotPasswordForm.resetemail)}}
    <a class="btn btn-danger" href="{{ url('customer') }}">
    Try log in again
    </a>
    <button type="submit" class="btn btn-primary">Verify your email</button>
    
    {{ form_end(forgotPasswordForm) }}
    
{% endblock %}