{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Reset Password</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} 


    {{ form_start(resetPasswordForm) }}
    {{ form_label(resetPasswordForm.plainPassword) }}
    <div class="col-12">
        {{ form_widget(resetPasswordForm.plainPassword) }}
        {{ form_errors(resetPasswordForm.plainPassword) }}
    </div>
    <button type="submit" class="btn btn-primary">Change</button>

    {{ form_end(resetPasswordForm) }}

{% endblock %}
